<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328369922697-6m3tm29ol9pehll5fpd33h3cjp8kmfbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328369922697-6m3tm29ol9pehll5fpd33h3cjp8kmfbt</string>
	<key>API_KEY</key>
	<string>AIzaSyBpfN1lQW30Gijy1J75EJrCuRV-nI_PmoU</string>
	<key>GCM_SENDER_ID</key>
	<string>328369922697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.application.thePakTours</string>
	<key>PROJECT_ID</key>
	<string>thepaktours-d2ddf</string>
	<key>STORAGE_BUCKET</key>
	<string>thepaktours-d2ddf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328369922697:ios:e81f5efaa5c5c611361c58</string>
</dict>
</plist>